body {
    background-image: url("https://blob.gifcities.org/gifcities/7LI3BE3ATBTJROYZ5TUZYJIC34GP43T2.gif");
    background-repeat: repeat;
    background-blend-mode: multiply;
    
    background-color: rgb(77, 77, 77);
    color: white;

    /* CLAVE: evita el suavizado */
    image-rendering: pixelated;

    a {
        color: rgb(55, 255, 155);
    }

    /* Centering a main heading */
    h1 {
        text-align: center;
    }
    
    p {
        text-align: center;
    }

    .centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .orderimg {
    display: flex;
    justify-content: center; /* mantiene todo centrado */
    gap: 10px; /* espacio entre imágenes */
}
}
